@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&display=swap');

h1 {
  color: aqua;
  text-shadow: 2px 2px 3px black;
  min-width: 600px;
  padding: 1rem 1rem 1rem 1rem;
  margin: auto;
  display: flex;
  flex-flow: row nowrap;
  border-style: solid;
  border-radius: 15px;
  border-width: 2px;
  justify-content: center;
}

.fa-frog {
  margin-left: 20px;
}

.fa-fish-fins {
  margin-left: 20px;
}

ul {
  font-weight: bold;
  border-style: solid;
  border-radius: 15px;
  border-width: 1px;
  border-color: aqua;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  min-height: 50px;
}

li {
  margin: auto;
  list-style: none;
}

.top-nav-link:hover {
  color: aqua;
  text-shadow: 2px 2px 3px black;
}

a:visited {
  color: inherit;
}

.profile-image-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.profile-image {
  border-style: inset;
  border-radius: 15px;
  border-color: aqua;
  box-shadow: 10px 10px 10px grey;
  margin: 0 10px 0 10px;
  height: 300px;
  justify-content: center;
  
}

img {
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-style: dotted;
  border-radius: 10px;
  background-color: aqua;
  padding: 2px;
}

aside {
  font-size: small;
  font-style: italic;
}

h2 {
  color: aqua;
  text-shadow: 1px 1px 1px black;
}

.project-heading {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

h3 {
  font-style: italic;
}

.projects-container {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  padding: 10px;
}

.project-item {
  height: 250px;
  min-width: 250px;
  max-width: 300px;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  margin: 10px;
  padding: 1rem 1rem 1rem 1rem;
  text-align: center;
  text-wrap: wrap;
  flex-grow: 1;
  flex-basis: 0;
  flex-shrink: 1;
  border-style: inset;
  border-radius: 15px;
  border-color: aqua;
  box-shadow: 10px 10px 10px grey;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
}